.slider{
    border: 1px solid red;
    position: relative;
    width: 84%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}
    
.slide{
    border: 1px solid blue;
    min-width: 30%;
    height: 150px;
    transition: .5s;
    margin: 0px 10px;
    display: inline-block;
}
  
#goleft{
    left: 0;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    font-size: 2em;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
} 
    
#goright{
    position:absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 5%;
    font-size: 2em;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
    
    