.topics-list{
    width: 70vw;
    margin: 0 auto;
    padding: 2rem 0;
    border-radius: 8px;
    display: inline-block;
    
}

@media screen and (min-width: 768px){
    .topics-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
     }
}
@media screen and (min-width: 992px){
    .topics-list{
        width: 85vw;
        grid-template-columns: repeat(3, 1fr);
       
    }
}
@media screen and (min-width: 1140px){
    .topics-list{
   
        grid-template-columns: repeat(4, 1fr);
    }
}
