.topics{
    background:#ececec;
    border-radius: 0.8rem;
    margin: 1rem 0.5rem;
    display: inline-block;
    
 }
/*#ececec*/
.images{
    width: 100%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    display: grid;
    float: left;
   
}
.img{
    position: relative;
}
.text{
    padding: 0.2rem 0.5rem;
    color: green;
    cursor: pointer;
    text-align: center;
}

