.slider{
    border: 1px solid red;
    position: relative;
    width: 84%;
    height: 50vh;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.item{
    border: 1px solid blue;
    min-width: 30%;
    height: 150px;
    transition: .5s;
    margin: 0px 10px;
    display: inline-block;
}
  